@import play.api.Configuration

@import uk.gov.hmrc.play.views.html.helpers.form
@import uk.gov.hmrc.play.views.html.helpers.input

@import $package$.controllers.routes.$servicenamecamel$Controller
@import $package$.models.$modelnamecamel$

@($formnamesmall$ : Form[$modelnamecamel$])(implicit request: Request[_], messages: Messages, config: Configuration)

@$package$.views.html.main_template(title = Messages("$formpath$.title"), bodyClasses = None) {

  @form(
    action = $servicenamecamel$Controller.$formnamesmall$,
    'class -> "form js-form") {
    <header class="page-header">
        <h1>@Messages("$formpath$.label")</h1>
    </header>

    <p>@Messages("$formpath$.description")</p>

    <div class="form-field">
      @input(
        $formnamesmall$("parameter1"),
        '_label -> Messages("$formpath$.parameter1.label"),
        '_inputClass -> "input--medium input--cleared",
        '_labelClass -> "bold"
      )
    </div>

    <div class="form-field">
        @input(
            $formnamesmall$("emailAddress"),
            '_label -> Messages("$formpath$.emailAddress.label"),
            '_inputClass -> "input--medium input--cleared",
            '_labelClass -> "bold"
        )
    </div>

    <div class="form-field">
        @input(
            $formnamesmall$("telephoneNumber"),
            '_label -> Messages("$formpath$.telephoneNumber.label"),
            '_inputClass -> "input--medium input--cleared",
            '_labelClass -> "bold"
        )
    </div>

    <input type="hidden" name="parameter2" id="parameter2" value="@$formnamesmall$("parameter2").value">

    <div class="form-field">
      <button class="button" type="submit" id="continue">@Messages("button.continue")</button>
    </div>
  }

}
