@import play.api.Configuration
@import uk.gov.hmrc.play.views.html.helpers.{form, input, errorSummary}

@import $package$.controllers.routes.$servicenamecamel$Controller
@import $package$.models.$modelname$

@($formnamesmall$ : Form[$modelname$])(implicit request: Request[_], messages: Messages, config: Configuration)

@$package$.views.html.main_template(title = error_prefix($formnamesmall$) + Messages("$formpath$.title"), bodyClasses = None) {


@if($formnamesmall$.hasErrors){
    @errorSummary(Messages("error.summary.heading"), $formnamesmall$, Seq.empty, Some("$formnamesmall$"))
}

  @form(
    action = $servicenamecamel$Controller.$formnamesmall$,
    'class -> "form js-form") {

    <h1 class="heading-xlarge">@Messages("$formpath$.label")</h1>

    <p>@Messages("$formpath$.description")</p>

    <div class="form-group">
      @input(
        $formnamesmall$("parameter1"),
        '_label -> Messages("$formpath$.parameter1.label"),
        '_inputClass -> "input--medium input--cleared",
        '_labelClass -> "heading-medium soft--ends"
      )
    </div>

    <div class="form-group">
        @input(
            $formnamesmall$("emailAddress"),
            '_label -> Messages("$formpath$.emailAddress.label"),
            '_inputClass -> "input--medium input--cleared",
            '_labelClass -> "heading-medium soft--ends"
        )
    </div>

    <div class="form-group">
        @input(
            $formnamesmall$("telephoneNumber"),
            '_label -> Messages("$formpath$.telephoneNumber.label"),
            '_inputClass -> "input--medium input--cleared",
            '_labelClass -> "heading-medium soft--ends"
        )
    </div>

    <input type="hidden" name="parameter2" id="parameter2" value="@$formnamesmall$("parameter2").value">

    <button class="button form-field--submit" type="submit" id="continue">@Messages("button.submit")</button>

  }

}
