@import $package$.controllers.routes.$servicenamecamel$Controller
@import play.api.Configuration

@()(implicit request: Request[_], messages: Messages, config: Configuration)

@$package$.views.html.main_template(title = Messages("start.title"), bodyClasses = None) {

    <header class="page-header">
        <h1> @Messages("start.label")</h1>
    </header>

    <p> @Messages("start.intro")</p>

    <p>
        <a href="https://www.gov.uk/government/organisations/hm-revenue-customs/contact/online-services-helpdesk">@Messages("start.helpdesklink.text1")</a> @Messages("start.helpdesklink.text2")
    </p>

    <p>
        <a class="button button-start button--get-started" name="start" href="@$servicenamecamel$Controller.show$formname$" role="button">Start now</a>
    </p>
}
