@import play.api.Configuration

@import $package$.controllers.routes.$servicenamecamel$Controller
@import $package$.models.$modelname$

@($formnamesmall$ : Form[$modelname$])(implicit request: Request[_], messages: Messages, config: Configuration)

@$package$.views.html.main_template(title = Messages("summary.title"), bodyClasses = None) {

        <header class="page-header">
            <h1>@Messages("summary.label")</h1>
        </header>

        <div class="tabular-data__entry divider--bottom">
            <span class="tabular-data__heading tabular-data__heading--label">@Messages("summary.header.parameters")</span>
            <div class="tabular-data__data-1">
                @Messages("summary.parameter1") @$formnamesmall$("parameter1").value
            </div>
        </div>

        <div class="tabular-data__entry divider--bottom">
            <span class="tabular-data__heading tabular-data__heading--label">@Messages("summary.header.contactDetails")</span>
            <div class="tabular-data__data-1">
                  @Messages("summary.telephoneNumber") @$formnamesmall$("telephoneNumber").value
                  <br>
                  @Messages("summary.emailAddress") @$formnamesmall$("emailAddress").value
            </div>
        </div>

        <p>
            <a class="button button-start button--get-started" name="start" href="@$servicenamecamel$Controller.start" role="button">Done</a>
        </p>

}
