@import play.api.Configuration

@import $package$.controllers.routes.$servicenamecamel$Controller
@import $package$.models.$modelname$

@($formnamesmall$ : Form[$modelname$])(implicit request: Request[_], messages: Messages, config: Configuration)

@$package$.views.html.main_template(title = Messages("summary.title"), bodyClasses = None) {

        <h1 class="heading-xlarge">@Messages("summary.label")</h1>


        <dl class="govuk-check-your-answers cya-questions-short">
            <div>
                <dt class="cya-question">
                    @Messages("summary.header.parameters")
                </dt>
                <dd class="cya-answer" id="parameter1">
                    @$formnamesmall$("parameter1").value
                </dd>
                <dd class="cya-change">
                    <a href="#">
                      @Messages("summary.link.change")
                      <span class="visuallyhidden">@Messages("summary.header.parameters")</span>
                    </a>
                </dd>
            </div>
            <div>
                <dt class="cya-question">
                    @Messages("summary.header.contactDetails")
                </dt>
                <dd class="cya-answer" id="contactDetails">
                    @if($formnamesmall$("emailAddress").value){<span class="display-block">}@$formnamesmall$("emailAddress").value @if($formnamesmall$("emailAddress").value){</span>}
                    @if($formnamesmall$("telephoneNumber").value){<span class="display-block">}@$formnamesmall$("telephoneNumber").value @if($formnamesmall$("telephoneNumber").value){</span>}
                </dd>
                <dd class="cya-change">
                    <a href="#">
                      @Messages("summary.link.change")
                      <span class="visuallyhidden">@Messages("summary.header.contactDetails")</span>
                    </a>
                </dd>
            </div>
        </dl>

        <a href="#" class="button form-field--submit" href="@$servicenamecamel$Controller.start" role="button">@Messages("button.submit")</a>


}
