@import play.api.Configuration

@import uk.gov.hmrc.play.views.html.helpers.form
@import uk.gov.hmrc.play.views.html.helpers.input

@import uk.gov.hmrc.$name;format="word"$.controllers.routes.$name;format="Camel"$Controller
@import uk.gov.hmrc.$name;format="word"$.models.Model

@(myForm : Form[Model])(implicit request: Request[_], messages: Messages, config: Configuration)

@uk.gov.hmrc.$name;format="word"$.views.html.main_template(title = Messages("myform.title"), bodyClasses = None) {

  @form(
    action = $name;format="Camel"$Controller.myForm,
    'class -> "form js-form") {
    <header class="page-header">
        <h1>@Messages("myform.label")</h1>
    </header>

    <p>@Messages("myform.description")</p>

    <div class="form-field">
      @input(
        myForm("parameter1"),
        '_label -> Messages("myform.parameter1.label"),
        '_inputClass -> "input--medium input--cleared",
        '_labelClass -> "bold"
      )
    </div>

    <div class="form-field">
        @input(
            myForm("emailAddress"),
            '_label -> Messages("myform.emailAddress.label"),
            '_inputClass -> "input--medium input--cleared",
            '_labelClass -> "bold"
        )
    </div>

    <div class="form-field">
        @input(
            myForm("telephoneNumber"),
            '_label -> Messages("myform.telephoneNumber.label"),
            '_inputClass -> "input--medium input--cleared",
            '_labelClass -> "bold"
        )
    </div>

    <input type="hidden" name="parameter2" id="parameter2" value="@myForm("parameter2").value">

    <div class="form-field">
      <button class="button" type="submit" id="continue">@Messages("button.continue")</button>
    </div>
  }

}
