@import play.api.Configuration

@import uk.gov.hmrc.$name;format="word"$.controllers.routes.$name;format="Camel"$Controller
@import uk.gov.hmrc.$name;format="word"$.models.Model

@(myForm : Form[Model])(implicit request: Request[_], messages: Messages, config: Configuration)

@uk.gov.hmrc.$name;format="word"$.views.html.main_template(title = Messages("summary.title"), bodyClasses = None) {

        <header class="page-header">
            <h1>@Messages("summary.label")</h1>
        </header>

        <div class="tabular-data__entry divider--bottom">
            <span class="tabular-data__heading tabular-data__heading--label">@Messages("summary.header.parameter1")</span>
            <div class="tabular-data__data-1">
                @Messages("summary.parameter1") @myForm("parameter1").value
            </div>
        </div>

        <div class="tabular-data__entry divider--bottom">
            <span class="tabular-data__heading tabular-data__heading--label">@Messages("summary.header.contactDetails")</span>
            <div class="tabular-data__data-1">
                  @Messages("summary.telephoneNumber") @myForm("telephoneNumber").value
                  <br>
                  @Messages("summary.emailAddress") @myForm("emailAddress").value
            </div>
        </div>

        <p>
            <a class="button button-start button--get-started" name="start" href="@$name;format="Camel"$Controller.start" role="button">Done</a>
        </p>

}
